<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid footer mt-3">
      <div class="row pt-2" style="background-color: #ebebeb">
        <div class="col-3">
          <a
            href="/privacy"
            class="ps-4 fs-6 text-dark text-decoration-none"
            >Privacy</a
          >
          <a
            href="/term"
            class="ps-4 fs-6 text-dark text-decoration-none"
            >Terms</a
          >
        </div>
        <div class="text-center col-6">
          <p>&copy; Wonderlust private limited</p>
        </div>
        <div class="col-3 text-end">
          <a href=""><i class="fa-brands fa-facebook pe-4"></i></a>
          <a href=""><i class="fa-brands fa-x-twitter pe-4"></i></a>
          <a href=""><i class="fa-brands fa-linkedin pe-4"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
