<%- layout("layouts/boilerplate") %>
<div class="container col-8 offset-2">
  <div class="row">
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <h2 class="mb-2 text-center">Login</h2>
      <div class="mb-2">
        <label class="form-lable" for="username">Username</label>
        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Enter username"
          required
        />
      </div>
      <div class="mb-2">
        <label class="form-lable" for="password">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Enter password"
          required
        />
      </div>
      <button class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
